---
- hosts: localhost
  vars:
    name: World
  tasks:
    - name: Print hello  world
      command: echo "Hello, {{name}}"
      register: result

    - name: display the message
      debug:
        msg: "{{result.stdout}}"