---
- hosts: "localhost"
  vars:
    user: abc
    password: password1

  tasks:
    - include_role:
        name: config
      vars:
        file: "{{item}}"
      with_items:
        - mdm.properties
        - portal.properties



