---
- name: create new folder
  file: path=/target_folder state=directory owner=vagrant
  become: yes

- name: copy configuration
  template:
    src: "{{file}}"
    dest: "/target_folder"
    backup: yes