---
- name: create directory
  file:
    path: /configuration
    state: directory
- name: Copy configuration
  template: src={{item}} dest=/configuration/ backup=yes
  with_items:
    - mdm.properties
    - portal.properties