---
- name: create target directory
  file:
    path: "{{configuration_folder}}"
    state: directory
    owner: "{{user}}"
    group: "{{group}}"
    mode: "o=rwx"
  become: yes

- name: copy configuration {{file.name}}
  template:
    src: "{{file.path}}"
    dest: "{{configuration_folder}}"
    backup: yes

  tags:
    - config
